<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<style>
    input{
        display: block;
        border-radius: 10px;
        border: 0px;
        margin: 10px;
        height: 30px;
        width: 100%;

    }
    input::placeholder{
        text-align: center;
    }
    body{

        text-align: center;
    }
</style>

<h1>Please Login here</h1>
<form   th:action="@{/v1/user/login}" th:method="post" th:object="${login}">
    <label>
        <input type="email" th:field="*{email}" placeholder="Enter your email" required />
    </label>
    <label>
        <input type="password" th:field="*{password}" placeholder="Please Enter your password" required />
    </label>
    <input type="submit" value="login">
</form>
</body>
</html>